# Docker Image Configuration
APP_VERSION=latest
GITHUB_REPOSITORY=ph4n10m1808/basketballstore-php
WEB_PORT=80

# Database Configuration
MYSQL_ROOT_PASSWORD=your_root_password
MYSQL_DATABASE=basketball_store
MYSQL_USER=db_user
MYSQL_PASSWORD=your_db_password
MYSQL_HOSTNAME=db
